@charset "utf-8";

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');

body {
    font-family: 'Shippori Mincho', 'メイリオ', Meiryo, sans-serif;
    font-size: 12px;
    color: #333;
    line-height: 1.9;
    text-align: left;
    -webkit-text-size-adjust: 100%;

    /* SP向け 〜699px */
    @media only screen and (max-width: 699px) {
        font-size: 14px;
    }
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: underline;
}

.w50px {
    width: 50px;
}

.w80px {
    width: 80px;
}

.w100px {
    width: 100px;
}

.w135px {
    width: 135px;
}

.w160px {
    width: 160px;
}

.w170px {
    width: 170px;
}

/* header
--------------------------------*/
header {
    clear: both;
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 9998;
    background: #ebeae9;
    height: 105px;

    /* SP向け 〜699px */
    @media only screen and (max-width: 699px) {
        height: 100px;
    }

    /* PC向け 700px〜 */
    @media only screen and (min-width: 700px) {
        height: 106px;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
        background: url("./assets/img/nu01159.png") no-repeat;
        background-size: 25px 25px;

        /* SP向け 〜699px */
        @media only screen and (max-width: 699px) {
            padding-top: 5px;
            margin-left: 20px;
            padding-left: 35px;
            font-size: 22px;
            background-position: 0px 12px;
        }

        /* PC向け 700px〜 */
        @media only screen and (min-width: 700px) {
            padding-top: 10px;
            margin-left: 25px;
            padding-left: 35px;
            font-size: 24px;
            background-position: 0px 20px;
        }
    }
}

nav {
    float: right;

    /* SP向け 〜699px */
    @media only screen and (max-width: 699px) {
        margin-right: 5px;
    }

    /* PC向け 700px〜 */
    @media only screen and (min-width: 700px) {
        margin-top: 0px;
        top: 0px;
        right: 20px;
    }

    li {
        float: left;
        list-style-type: none;
        text-align: center;

        /* SP向け 〜699px */
        @media only screen and (max-width: 699px) {
            margin-right: 20px;
        }

        /* PC向け 700px〜 */
        @media only screen and (min-width: 700px) {
            margin-right: 60px;
        }

        a {
            display: block;
            width: 100%;
            padding: 5px 10px;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 0.2em;
            text-align: center;
        }

        a.selected {
            color: #333;
            background: #FFF;
            border-radius: 13em 13em 0 0;
        }
    }
}


/* main
--------------------------------*/

div.main {
    clear: both;

    /* SP向け 〜699px */
    @media only screen and (max-width: 699px) {
        margin-top: 30px;
    }

    /* PC向け 700px〜 */
    @media only screen and (min-width: 700px) {
        margin-top: 50px;
    }
}

section.block {
    clear: both;
    overflow: auto;
    margin-left: 25px;

    section {

        /* PC向け 700px〜 */
        @media only screen and (min-width: 700px) {
            float: left;
            width: 30%;
            height: auto;
            margin-right: 3%;
        }

        /* SP向け 〜699px */
        @media only screen and (max-width: 699px) {
            width: 95%;
            height: auto;
            margin-top: 30px;
        }

        h2 {
            margin-top: 17px;
            margin-bottom: 0px;
            text-align: center;
        }

        h3 {
            margin: 0;
        }

        hr {
            margin-top: 0;
            border: 3px solid #ebeae9;
        }

        p.icon {
            text-align: center;

            img {
                margin-top: 10px;
            }
        }
    }
}

section#block_list {
    margin-top: 25px;

    section#circle {
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 150px;
        border-radius: 13em 13em 0 0;
        position: relative;
        background: #ebeae9;
        transform: translate3d(0, 0, 0);

        h2 {
            margin: 0px;
            padding-top: 100px;

            text-align: center;
        }
    }
}

/* list
--------------------------------*/

ul.block_list {
    overflow: auto;

    li {
        float: left;
        list-style: none;
        border: 1px solid #EEE;
        margin-left: 10px;
        margin-top: 10px;

        /* PC向け 700px〜 */
        @media only screen and (min-width: 700px) {
            width: 200px;
        }

        /* SP向け 〜699px */
        @media only screen and (max-width: 699px) {
            width: 150px;
        }

        p {
            margin-left: 10px;
            height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        p.name {
            font-weight: bold;
        }
    }
}

ul.pagination {
    clear: both;
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: auto;

    li {
        float: left;
        list-style: none;

        a {
            margin: 5px;
            padding: 5px;
            overflow: auto;
            cursor: pointer;
        }

        a.selected {
            background-color: #333;
            color: #FFF;
        }
    }
}
